
html {
    scroll-behavior: smooth;
}

.title {
    background-image: url(../images/code.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    height: 100vh;
}



.navbar {
    opacity: 0.8;
}



.heading {
    padding: 20% 20% 20% 20%;
    color: white;
}
.about {
    background-color: white;
}
/* #main-image-container {
    background-color: black;
    max-height: 100%;
}

.nav-image {
    background: url(images/code.jpg);
}
.main-image {
    opacity: 0.3;
}

.navbar {
    opacity: 0;

}
.navbar-item {
    color: white;
} */